{% extends "base.html"%}{% block title%} Home {% endblock%}
{% block body%}

<div class="container text-center">
    <div class="row" style="margin: 10px;">
      <div class="col " style="margin: 3px; position: relative; right: 150px;">
        <div class="list-group" id="right1">
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span class="link-name">Supermarket</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="link-name">Health & Beauty</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa-solid fa-comment"></i>                
                <span class="link-name">Home & Office</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <span class="link-name">Fashion</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-audio-description" aria-hidden="true"></i>
                <span class="link-name">Electronics</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                <span class="link-name">Gaming</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-child" aria-hidden="true"></i>
                <span class="link-name">Baby Products</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-bicycle" aria-hidden="true"></i>
                <span class="link-name">Sporting Goods</span>
            </a>
            <a href="" class="list-group-item list-group-item-action">
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <span class="link-name">Garden & Outdoor</span>
            </a>

        </div>
      </div>


      <div class="col-md-7" style="margin: 3px;">
        <img src="../static/images/woman-holding-black-friday-shopping-bag_23-2149093529.avif" alt="" style="width: 600px; position:relative; right:150px; height: 365px; border-radius: 10px;">
      </div>
      <div class="col-md-2">

        <div class="imagerow" >
                    <img src="../static/images/portrait-two-african-females-holding-shopping-bags-while-reacting-something-their-smartphone_181624-31562.avif" alt="" style="width: 195px; height: 200px;border-radius: 10px; position: relative; left: 60px;" >
        </div>

        


        <!-- <div class="row" style="background-color: white; border-radius: 10px; position: relative; left: 75px; width: 170px; height: 250px;" >
        
            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="../static/images/question-mark-3d-symbol-design_460848-8303.avif" alt="" style="width: 30px;background-color: white; height: 30px; margin-left: -15px;">
                </div>
                <div class="col">
                    <h6 style="font-family: Tahoma; font-size: 12px; margin-left: -40px; font-weight: 600;position:relative; top: 10px;">HELP CENTER</h6>
                    <p style="font-size: small; color: gray; margin-left: -30px; margin-top: -10px;">Customer care</p>
                </div>
            </div>

            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="../static/images/return.avif" alt="" style="width: 30px; height: 30px; background-color: white; margin-left: -15px;">
                </div>
                <div class="col">
                    <h6 style="font-family: TAhoma; font-size: 12px; margin-left: -40px; font-weight: 600; position:relative; top: 10px;">EASY RETURN</h6>
                    <p style="font-size: small; color: gray; margin-left: -30px; margin-top: -10px;">Quick Refund</p>
                </div>
            </div>

            <div class="row" style="display: flex; margin-top: 5px;">
                <div class="col">
                    <img src="../static/images/bundles-cash-floating-coins-set-icons-yellow-gray-background-3d-illustration-render_132477-99.avif" alt="" style="width: 30px; height: 30px; background-color: white;margin-left: -15px;">
                </div>
                <div class="col">
                    <h6 style="font-family: Tahoma; font-size: 12px; margin-left: -40px; font-weight: 600;">SELL ON AMAZON</h6>
                    <p style="font-size: small; color: gray; margin-left: -30px; margin-top: -10px;">FBA Program</p>
                </div>
            </div>
        </div> -->
        <div class="row" style="margin-top: 12px;">
            <div class="col">
                <img src="../static/images/giphy.webp" alt="" class="right2" style="position: relative; left: 70px;">
            </div>
        
        </div>
      </div>
    </div>
</div>


<div class="container text-center">
    <div class="row" style="margin: 8px;">
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/3416994.jpg" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Tech Week</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/free-delivery-logo-with-bike-man-courier_1308-49835.avif" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Free Delivery</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/delicious-fried-chicken-plate_144627-27380.avif" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Maes Dining </h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="../static/images/paying-bills-concept-illustration_114360-22927.avif" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Airtime & Bills</h6>
        </div>
 
    </div>
</div>
<div class="container">
    <div class="row" style="margin: 8px; background-color: rgb(219, 218, 218);" id="column">
      {% for item in items%}
      
        <div class="col" style="background-color: white;">
            <img src="{{item.product_picture}}" alt="" style="height: 202px; width: 180px; border-radius: 10px;">
            <div class="row" style="margin-top: 5px;">
                <h6 style="color: gray;"> {{item.product_name}}</h6>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <h5 style="font-weight: 600; font-family: Tahoma;">{{item.current_price}}</h5>
                    <strike><p style="color: gray;"> {{item.previous_price}}</p></strike>
                </div>
                <div class="col">
                    <a href="/add-to-cart/{{item.id}}"> Add</a>
                </div>

            </div>
            <div class="row">
                <p> {{item.in_stock}}</p>
            </div>
            
            
        </div>
        
        
        
       
        {%endfor%}
        
       
    </div>
    
</div>



    {% endblock %}
